<div class="sitebody">
  <div class="sidebar_left">
    <img class="sidebar_left" src="../assets/logo.png" />
  </div>
  <div class="top-right">
    預算科目總表
    <div></div>
    <div>
      <mat-icon class="account_circle">account_circle</mat-icon>
      username
      <img
        class="logout-icon"
        src="assets/ic-sto-logout.svg"
        (click)="logout()"
      />
    </div>
  </div>
  <div class="content">
    <mat-drawer-container class="example-container">
      <mat-drawer #drawer class="example-sidenav" mode="side">
        <p>Auto-resizing sidenav</p>
      </mat-drawer>
      <img
        class="sidenav__logo"
        src="assets/heroicons_bars.svg"
        (click)="drawer.toggle()"
      />
      <div class="container">
        <div class="row">
          <div class="col">DAS原始總金額:</div>
          <div class="col">DAS最新預算總金額</div>
        </div>
      </div>
      <h2>＃科目明細</h2>
      <mat-accordion>
        <mat-expansion-panel *ngFor="let item of items">
          <mat-expansion-panel-header>
            <mat-panel-title> {{ item.title }} </mat-panel-title>
            <mat-panel-description>
              {{ item.description }}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p>-----START------</p>
          <table
            mat-table
            [dataSource]="dataSource"
            multiTemplateDataRows
            class="mat-elevation-z8"
          >
            <ng-container
              matColumnDef="{{ column }}"
              *ngFor="let column of columnsToDisplay"
            >
              <th mat-header-cell *matHeaderCellDef>{{ column }}</th>
          <td mat-cell *matCellDef="let element">{{ element[column] | numberAddCommas }}</td>
            </ng-container>
            <ng-container matColumnDef="expand">
              <th mat-header-cell *matHeaderCellDef aria-label="row actions">
                &nbsp;
              </th>
              <td mat-cell *matCellDef="let element">
                <button
                  mat-icon-button
                  aria-label="expand row"
                  (click)="
                    expandedElement =
                      expandedElement === element ? null : element;
                    TableDetailData(element);
                    $event.stopPropagation()
                  "
                >
                  <mat-icon *ngIf="expandedElement !== element"
                    >keyboard_arrow_down</mat-icon
                  >
                  <mat-icon *ngIf="expandedElement === element"
                    >keyboard_arrow_up</mat-icon
                  >
                </button>
              </td>
            </ng-container>

            <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
            <ng-container matColumnDef="expandedDetail">
              <td
                mat-cell
                *matCellDef="let element"
                [attr.colspan]="columnsToDisplayWithExpand.length"
              >
                <div
                  class="example-element-detail"
                  [@detailExpand]="
                    element == expandedElement ? 'expanded' : 'collapsed'
                  "
                >
                  <div class="example-element-description">
                    <table
                      mat-table
                      [dataSource]="dataDetailDisplay"
                      class="mat-elevation-z8"
                      multiTemplateDataRows
                    >
                      <!--- Note that these columns can be defined in any order.
                          The actual rendered columns are set as a property on the row definition" -->

                      <ng-container
                        matColumnDef="{{ column }}"
                        *ngFor="let column of columnsDetail"
                      >
                        <th mat-header-cell *matHeaderCellDef>{{ column }}</th>
                        <td mat-cell *matCellDef="let element">
                      {{ element[column] | numberAddCommas}}
                        </td>
                      </ng-container>
                      <tr mat-header-row *matHeaderRowDef="columnsDetail"></tr>
                  <tr mat-row *matRowDef="let row; columns: columnsDetail"></tr>
                    </table>
                  </div>
                </div>
              </td>
            </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpand"></tr>
            <tr
              mat-row
              *matRowDef="let element; columns: columnsToDisplayWithExpand"
              class="example-element-row"
              [class.example-expanded-row]="expandedElement === element"
              (click)="
                expandedElement = expandedElement === element ? null : element;
                TableDetailData(element)
              "
            ></tr>
            <tr
              mat-row
              *matRowDef="let row; columns: ['expandedDetail']"
              class="example-detail-row"
            ></tr>
          </table>
          <p>-----END------</p>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-drawer-container>
  </div>
</div>
