.example-container {

  border: 1px solid rgba(0, 0, 0, 0.5);
  height: 600px;

  }
.sidenav__logo {
  margin-left: 0px;
  }
  
.example-sidenav {
  padding: 20px;
  width: 250px;    
  background-color: #F4FDED;
  }
.logog-container {

  height: 150px;
  width: 250px;    
  border: 1px solid rgba(0, 0, 0, 0.5);

  }

.top-container {

  margin-left: 251px;
  margin-top: 0px;

  border: 1px solid rgba(0, 0, 0, 0.5);

  }

.sitebody{
  height:750px;
  margin:0 auto;
  font-size:13px;
  border: 1px solid rgba(0, 0, 0, 0.5);

  }

.content{
  background-color:#FFD4D4;
  height:600px;
  }
.sidebar_left{
  background-color:#FFECC9;
  width:250px;
  height:150px;
  text-align:center;
  line-height:150px;
  float:left;
  }
.top-right{
  margin-left:250px;
  height:150px;
  background-color:#95ed95;
  text-align:left;
  line-height:150px;
  border-radius: 25px 25px 25px 25px;
  font-size:30px;
  display: flex;
  justify-content:space-between
  }

.logout-icon{
  border: 1px solid rgba(0, 0, 0, 0.5);
  margin-right:20px;
  width:60px;
  height:60px;
  }

.account_circle{
  border: 1px solid rgba(0, 0, 0, 0.5);
  font-size: 60px;
  margin-right:20px;
  width:60px;
  height:60px;
}



table {
  width: 100%;
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.example-element-diagram1 {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
}

.col{
  background-color: #95ed95;
  height: 50px;
  margin-right:25px;
  border-radius: 25px 25px 25px 25px;
  font-size: 24px;
  text-align:center;

}